<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jude.utils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:allowBackup="true">
        <activity
            android:name="com.jude.utils.permission.PermissionActivity"

            />
    </application>

</manifest>
